.formm{
width: 50%;
margin:0 25% 0 25%; 
margin-top: 10px;
padding-top: 30px;
padding-bottom:20px ; 
-webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}
form{
	align-items: center;
	width: 250px;
	margin:0 auto; 
}
li{
	list-style-type:none;
}
ol{
	padding: 0px;
	margin:0 auto; 
}
.items__center li{
margin-bottom: 5px;
}
